ul{
    background-color: darkred;
    margin: 0;
    padding: 0;
}

ul li{
    list-style-type: none;
    display: inline-block;
}

li a{
    color: white;
    display: block;
    padding: 16px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: black;
}

.menuActivo{
    background-color: brown;
}

div{
    margin: 10px;
    width: 80% auto;
    background-color: burlywood;
}

div section{
    margin: 10px 20px;
}

section p{
    font-size: 20px;
}